include includes/header.pug
div(class="container")
  h1= 'Welcome to'+' '+data.firstName + ' ' + data.lastName + '\'s  Page'
  div(class="row")
    div
      h2= data.firstName + ' ' + data.lastName
   
include includes/footer.pug
